@ViewBag.searchLocationMessage
@{
    var loc = ViewBag.searchLocationResult;
}
<h3>@loc.Name</h3>
<h4>Region:</h4><p>@loc.Region</p>
<h4>Start Coordinates:</h4><p>@loc.Start</p>
<h4>End Coordinates:</h4><p>@loc.End</p>
<h4>Peak Elevation:</h4><p>@loc.PeakEv</p>
<h4>Elevation Gain:</h4><p>@loc.EvGain</p>
<h4>Distance</h4><p>@loc.Distance</p>
<h4>Physical Difficulty</h4><p>@loc.PDiff</p>
<h4>Techincal Difficulty</h4><p>@loc.TDiff</p>
<h4>Description</h4><p>@loc.Description</p>

@using (Html.BeginForm("AddComment", "Location", FormMethod.Get,
                            new { id = "createForm" }))
{
    ViewBag.locId = loc.Id;
    <h3>Search Keyword:</h3>
    <input type="text" size="20" name="text" />
    <br />
    <input type="submit" value="Post Comment" />
}

@{
    var commentList = ViewBag.locationCommentResult;
    if (commentList != null)
    {
        <h3>Comments:</h3>
        if (commentList.Count > 0) //can remove?
        {
            for (int i = 0; i < commentList.Count; i++)
            {
                <p>@commentList[i].Text at @commentList[i].Timestamp</p>
                <br />
            }
        }
        else
        {

        }

        <br />
    }
    <p>@ViewBag.locationCommentError</p>
}